{% extends 'layout.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/opacity-background.css">
{% endblock stylesheet %}

{% block content %}
<div class="homepage-content-block">
    <div>
        <h1 class="homepage-title">Is your neighbor a witch ?</h1>
    </div>

    <div class="btn-div">
        {% if app.inquisitor %}
            <a href="Inquisitor/bounty" class="homeButton">I’m a witch hunter</a>
        {% else %}
            <a href="/Inquisitor/signIn" class="homeButton">I’m a witch hunter</a>
        {% endif %}
        <a href="Citizen/index" class="homeButton">I'm a citizen</a>
    </div>
</div>
{% endblock content %}
