/*
*
* ==========================================
* Variables
* ==========================================
*
*/

:root{
    --primary-color: #b74747;
    --secondary-color: #544a47;
    --dark: #ffffff;
    --secondary-dark: #a5a5a5;
    --light: #4f2d1a;
    --primary-transparent: #b7474788;
    --secondary-transparent: #533c2c88;
}

/*
*
* ==========================================
* NavBar
* ==========================================
*
*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*--------------Raph------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
nav{
    opacity: 0.80;
    height: 55px;
    display: flex;
}

.logo {
    height: 30px;
    width: 30px;
}
/*------------------------------------------------*/
/*------------------------------------------------*/
/*--------------Raph------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/

/*
*
* ==========================================
* Home Page
* ==========================================
*
*/

/*------------------------------------------------*/
/*------------------------------------------------*/
/*--------------Raph------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
body {
    background: url("/assets/images/background/homepage-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.homepage-content-block{
    margin-top: 100px;

}

.homepage-title{
    text-align: center;
    color: white;
    font-family: 'Palanquin Dark', sans-serif;
    -webkit-text-stroke: 1px black;
    font-size: 30px;
}

.btn-div{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.btn {
    align-self: center;
    width: 50%;
    margin: 10px;
}

.homeButton {
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    box-shadow: 0 1px var(--dark);
    margin: 15px;
    width: 70%;
    align-self: center;
    font-family: 'Secular One', sans-serif;
    white-space: nowrap;
}

.homeButton:hover {
    background-color: var(--secondary-dark);
    text-decoration: none;
    color : var(--light);
}

.homeButton:active {
    background-color: var(--secondary-dark);
    box-shadow: 0 5px var(--dark);
    transform: translateY(4px);
}
/*------------------------------------------------*/
/*------------------------------------------------*/
/*--------------Raph------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/

/*
*
* ==========================================
* Inquisitor Bounty
* ==========================================
*
*/

.img-inquisitor-witch{
    width: 75%;
    height: auto;
}

.card-img-inquisitor{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.h1-inquisitor-bounty{
    text-align: center;
}
