{% extends 'layout.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div>
        <video id="video" width="720" height="540" autoplay muted></video>
        <button type="button" onclick="snapshot()">Take a snapshot</button>
        <canvas id="photo"></canvas>
        <form action="/home/index" method="post" enctype="multipart/form-data">
            <input type="hidden" value="none" id="photo-data" name="photo">
            <button>Submit</button>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script src="/assets/js/citizen-index.js"></script>
{% endblock %}