{% extends 'layout.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div style="display: flex; flex-direction: column" id="upload-menu">
        <div class="photo-select">
            <button id="upload-button">Upload a picture</button>
            <button id="take-pic-button">Take a picture</button>
        </div>
        <div id="snapshot">
            <form action="/citizen/index" method="post" enctype="multipart/form-data">
                <input type="hidden">
                <input type="file" name="photo">
                <button name="upload-name">Submit</button>
            </form>
        </div>
        <div id="snapshot-menu">
            <video id="video" width="720" height="540" class="resize" autoplay muted></video>
            <button type="button" id="snapshot-button">Take a snapshot</button>
            <canvas id="photo" class="resize"></canvas>
            <form action="/citizen/index" method="post" enctype="multipart/form-data">
                <input type="hidden" value="none" id="photo-data" name="photo">
                <button name="snap-form">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="/assets/js/citizen-index.js"></script>
{% endblock %}